<div class="container about-box">
  <div class="plate mx-auto mb-5" id="cork">
    <h2>About</h2>
  </div>
  
  <div>
    <%= image_tag "cakeshop2.jpg" %>
    <div class="center-block">
    <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br></p>
    <p>お子様からお年寄りの方までお召し上がりいただけるよう、<br></p>
    <p>様々なバリエーションをご用意しております。<br></p>
    <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br></p>
    <p>ぜひご注文ください。</p>
    </div>
  </div>
  
  <div class="about-img mx-auto"></div>
  
</div>