<main>

  <h4>会員一覧</h4>

  <tabel>
    <tbody>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
        <th colspan="4"></th>
      </tr>
    </tbody>
    <thead>
      <%= @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td></td>
        </tr>
      <% end %>
    </thead>
  </tabel>
</main>